.feature-speaker {
  display: block;
}

.speaker-title {
  padding: 2rem 1rem;
}

.speaker-img {
  width: 200px;
  position: relative;
  flex: 1;
}

.speaker-img img {
  position: absolute;
}

.speaker-img img:first-of-type {
  height: 100px;
  width: 100px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.speaker-img img:nth-child(2) {
  height: 100px;
  width: 100px;
}

.speakers {
  display: flex;
  margin: 1rem 1rem;
}

.speaker-details {
  margin: 0 2rem;
  flex: 2;
}

.speaker-name h2 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.role p {
  font-style: italic;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.speaker-details .line {
  border: 1px solid #d3d3d3;
  margin: 0;
  width: 15%;
}

.about p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 769px) {
  .feature-speaker {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
