.feature-speaker {
  display: block;
}
.speaker-title {
  margin: 2rem 1rem;
}

.speakers {
  margin: 1rem 1rem;
}
.speaker-img img {
  height: 70%;
  width: 70%;
  position: relative;
  top: 0;
  left: 0;
}
.speaker-img img:first-of-type {
  position: relative;
  top: 0;
  left: 10px;
  z-index: 1;
}
.speaker-img img:nth-child(2) {
  position: relative;
  top: 60px;
  left: 0;
}
.speakers {
  display: flex;
}
.speaker-img {
  flex: 2;
}
.speaker-details {
  flex: 3;
}
.speaker-name h2 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}
.role p {
  font-style: italic;
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
.speaker-details .line {
  border: 1px solid #d3d3d3;
  margin: 0;
  width: 15%;
}
.about p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}
